<div class="container py-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center mb-3">
            <div class="d-flex align-items-center flex-grow-1">
              <div style="padding-right: 20px;">
                <p class="mb-0">Post Title</p>
              </div>
              <div class="d-flex flex-column"><a class="text-gray-800 text-hover-primary fs-6 fw-bolder"> User Name </a></div>
            </div>
            <div class="my-0">
              <span class="text-gray-400 fw-bold">Yestarday at 5:06 PM</span>
            </div>
          </div>
          <div class="mb-7">
            <div class="text-gray-800 mb-4">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="d-flex align-items-center mb-2">
              <a class="btn btn-sm btn-light btn-color-muted btn-active-light-danger px-4 py-2">
                <span class="svg-icon svg-icon-2">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                          d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z"
                          fill="black"></path>
                    <rect x="6" y="12" width="7" height="2" rx="1" fill="black"></rect>
                    <rect x="6" y="7" width="12" height="2" rx="1" fill="black"></rect>
                  </svg>
                </span>
                {{Comments.length}}
              </a>
            </div>
          </div>
          <div class="w-100 mb-2">
            <textarea placeholder="leave comment" [(ngModel)]="comment" (keyup.enter)="addComment()"></textarea>
          </div>
          <div>
            <ng-container *ngFor="let comment of Comments; let i = index">

              <div class="d-flex mb-5" *ngIf=" i  < limit">
                <div class="symbol symbol-45px me-5"><img src="assets/avatar.png" alt=""></div>
                <div class="d-flex flex-column flex-row-fluid w-100">
                  <div class="d-flex align-items-center justify-content-between flex-wrap mb-1">
                    <a class="text-gray-800 text-hover-primary fw-bolder me-2"> User Name </a>
                    <span class="text-gray-400 fw-bold fs-7">{{moment.unix(comment?.date?.seconds).fromNow() }}</span>
                  </div>
                  <span class="text-gray-800 fs-7 fw-normal pt-1"> {{comment.content}}</span>
                </div>
              </div>

            </ng-container>

          </div>

          <div class="d-flex justify-content-center align-items-center pt-2" *ngIf="limit < Comments.length">
            <button class="btn btn-primary btn-sm" (click)="changeLimit()">Load More

              <span class="badge bg-light text-dark">{{Comments.length - limit}}</span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
