.card {
  border: 0;
  box-shadow: 0 0 20px 0 #4c577d05;
}
.card-body {
  flex: 1 1 auto;
  padding: 2rem 1rem;
}
textarea:focus{outline: none;}
textarea{
  border: 1px solid #eee;
  border-radius: 7px;
  display: block;
  height: 70px;
  resize: none;
  width: 100%;
  padding: 10px;
}
