
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #f4f6f9;
}
.card .card-body, .card .card-footer {
  padding: 2rem 2.25rem;
}
.symbol>img {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  border-radius: .475rem;
}
.symbol.symbol-45px.symbol-fixed .symbol-label, .symbol.symbol-45px .symbol-label, .symbol.symbol-45px>img {
  width: 45px;
  height: 45px;
}
.text-gray-800 {
  color: #3f4254!important;
}
.text-gray-400 {
  color: #b5b5c3!important;
}
.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid #eff2f5;
}
.min-h-25px {
  min-height: 25px!important;
}
.form-control::placeholder {
  color: #a1a5b7;
  opacity: 1;
}
